# Chapter 4 - Working with Lists in Python

In [23]:
import statistics

<h3>Looping Through an Entire List :

In [24]:
# Creating a string list of names
magicians = ['alice', 'david', 'carolina'] 
# looping through list
for m in magicians:
    print(m)

print()

for magician in magicians:
 print(magician.title() + ", that was a great trick!")
 print("I can't wait to see your next trick, " + magician.title() + ".\n")

alice
david
carolina

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [25]:
for n in range(0,3):
    print(n)

numbers=list(range(0,5))
print(numbers)

0
1
2
[0, 1, 2, 3, 4]

In [26]:
squares=[]
for i in range(1,11):
    square=i**2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

<h3>Simple Statistics with a List of Numbers

In [28]:
digits=[5,67,2,7,21,8,54,87]
print(min(digits))
print(max(digits))
print(sum(digits))
print(statistics.mean(digits)) # This is using the Statistic import

2
87
251
31.375

In [33]:
one=1
two=2
quotient=one/two
print(quotient)
int(quotient)

0.5

0

<h3>Slicing a List

In [37]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[3])
print(players[0:3])
print(players[:5])
print(players[3:])

florence
['charles', 'martina', 'michael']
['charles', 'martina', 'michael', 'florence', 'eli']
['florence', 'eli']

<h3>Looping Through a Slice

In [42]:
teams=['Barcelona','Real Madrid','Villance','Atletico Madrid','Villa Real']
for t in teams[1:]:
    print(t.lower())

real madrid
villance
atletico madrid
villa real

<h3>Copying a List

In [46]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods

print(friend_foods)

['pizza', 'falafel', 'carrot cake']

<h2>Tuples 
<h4>Defining a Tuple 
<h5>A tuple is the same thing as a list but cannot be changed. To define a tuple : tuple=(100,200)

In [48]:
student_scores=(79,89,96)
print(student_scores)
# These scores can't be changed

(79, 89, 96)

In [49]:
# However we can redifine the entire tuple.
student_scores=(30,31,32)
student_scores

(30, 31, 32)

In [50]:
# let's try to append to the tuple
student_scores.append(20)

AttributeError: 'tuple' object has no attribute 'append'

In [51]:
# Let's try to change a value to the tuple
student_scores[0]=20

TypeError: 'tuple' object does not support item assignment